@import "tailwindcss";
@import "tw-animate-css";
/* Use the later */
:root {
  --radius: 0.625rem;
  --background: #030712;
  --foreground: #f1f5f9;
  --card: #0f172a;
  --card-foreground: #f1f5f9;
  --popover: #0f172a;
  --popover-foreground: #f1f5f9;
  --primary: #10b981;
  --primary-foreground: #f1f5f9;
  --secondary: #1e293b;
  --secondary-foreground: #f1f5f9;
  --muted: #475569;
  --muted-foreground: #cbd5e1;
  --accent: #34d399;
  --accent-foreground: #030712;
  --destructive: #ef4444;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #10b981;
}

.dark {
  --background: #030712;
  --foreground: #f1f5f9;
  --card: #0f172a;
  --card-foreground: #f1f5f9;
  --popover: #0f172a;
  --popover-foreground: #f1f5f9;
  --primary: #10b981;
  --primary-foreground: #f1f5f9;
  --secondary: #1e293b;
  --secondary-foreground: #f1f5f9;
  --muted: #475569;
  --muted-foreground: #cbd5e1;
  --accent: #34d399;
  --accent-foreground: #030712;
  --destructive: #ef4444;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #10b981;
}

@layer base {
  * {
    @apply border-[color:var(--border)] outline-[color:var(--ring)];
  }
  body {
    @apply bg-[color:var(--background)] text-[color:var(--foreground)];
  }
}

